[package]
authors = ["Maksym Vorobiov <maxim.vorobjov@gmail.com>"]
name = "poloniex"
version = "0.1.0"

[dependencies]
futures = "0.1"
tokio-core = "0.1"
websocket = "0.20.2"
json = "0.11"
time = "0.1"
bus = "1.3"